doctype
html(lang="en")
head
  meta(charset='utf-8')
  |   
  title HB - Tufte Blog
  |   
  link(rel='stylesheet', href='assets/css/tufte.css')
  |   
  link(rel='stylesheet', href='assets/css/latex.css')
  |   
  meta(name='viewport', content='width=device-width, initial-scale=1')
  
  body(class="page-#{ current.path[0] } #{ current.path.join('-') }")
    h1 Tufte Blog
    p.subtitle A HarpJS Blog boilerplate based on Tufte CSS
    |  
    article#content
            != yield
          
            != partial("_partials/aside")
    hr
    != partial("_partials/footer")
