p: a(href="/"): img.aside-profile-img.aside-img(src="")
p: strong Matthias Jordan
p I live in the Bay Area. I take pictures, cook, and play around with code on servers. 
p Twitter: 
  a(href="http://twitter.com/iammatthias") @iammatthias
