h1 Tufte Blog
p.subtitle A HarpJS Blog boilerplate based on Tufte CSS
|     
section
  p
    a(href='https://github.com/edwardtufte/tufte-css') Tufte-CSS
    label.margin-toggle.sidenote-number(for='sn-tufte-css')
    input#sn-tufte-handout.margin-toggle(type='checkbox')
    span.sidenote
      | Tufte CSS - Example sidenote 1
    |  provides tools to style web articles using the ideas demonstrated by Edward Tufte&rsquo;s books and handouts. Tufte&rsquo;s style is known for its simplicity, extensive use of sidenotes, tight integration of graphics with text, and carefully chosen typography.
    |       
  
  p
    | Tufte CSS was created by 
    a(href='http://www.daveliepmann.com') Dave Liepmann
    label.margin-toggle.sidenote-number(for='sn-tufte-handout')
    input#sn-tufte-handout.margin-toggle(type='checkbox')
    |         
    span.sidenote
      | Tufte CSS - Example sidenote 2
    |  and is now an Edward Tufte project. The original idea was cribbed from 
    a(href='https://tufte-latex.github.io/tufte-latex/')
      | Tufte-Latex
    |  and 
    a(href='http://rmarkdown.rstudio.com/tufte_handout_format.html') R Markdown&rsquo;s Tufte Handout format.
    |         We give hearty thanks to all the people who have contributed to those projects.
  |       
|     
section
  h2 What is this, exactly? 
  |       
  p
    | Lately I have been on the hunt for a blog boilerplate that has a strong focus on typography and design, while remaining functional. Unfortunately, most "design" focused boilerplates tend to be flashy, or incorporate too many fonts for my liking. 
  |          
  p
    | Enter 
    a(href='https://github.com/edwardtufte/tufte-css') Tufte-CSS.
  |    
  p
    | I have configured this to work pretty nicely as a blog for HarpJS
    label.margin-toggle.sidenote-number(for='sn-tufte-css')
    input#sn-tufte-handout.margin-toggle(type='checkbox')
    span.sidenote
      a(href='https://tufte-latex.github.io/tufte-latex/')
        | HarpJS
      | - Static site generator of choice
    | . Hope you like it.
  | 
 
