article#content
  section 
    h1 HB-Tufte
    p.subtitle What is this, exactly? 
    |   
    p
      | This is 
      a(href='https://github.com/edwardtufte/tufte-css') Tufte-CSS
      |  and 
      a(href='http://harpjs.com') HarpJS
      | . 
    |          
    p
      | Tufte CSS
      label.margin-toggle.sidenote-number(for='sn-tufte-css')
      input#sn-tufte-handout.margin-toggle(type='checkbox')
      span.sidenote
        a(href='https://github.com/edwardtufte/tufte-css')
          | Tufte CSS
      |  provides tools to style web articles using the ideas demonstrated by Edward Tufte’s books and handouts. HarpJS
      label.margin-toggle.sidenote-number(for='sn-harpjs')
      input#sn-tufte-handout.margin-toggle(type='checkbox')
      span.sidenote
        a(href='http://harpjs.com')
          | HarpJS
      |  is a static web server / site generator with built in preprocessing.
    |    
    p
      | I started with the standard HarpJS blog
      label.margin-toggle.sidenote-number(for='sn-hb-blog')
      input#sn-tufte-handout.margin-toggle(type='checkbox')
      span.sidenote
        a(href='https://github.com/harp-boilerplates/hb-blog')
          | HB-Blog
      |  boilerplate. I stripped out the unessential files, and dropped in Tufte-CSS for a spiffy new layout. 
  | 
