<article>
<section>
<p>
Back in November, 2015 I came across <a href="https://github.com/iammatthias/HB-Tufte/graphs/contributors">Tufte CSS</a>. As a big fan of how Edward Tufte styles his work, I set about adapting Tufte CSS into a blog template for HarpJS. A live demo of the original can be found here: <a href="http://hb-tufte.surge.sh">HB-Tufte</a>. It worked, I was happy with it, and I started using it for my cooking blog, <a href="http://cbreezy.kitchen">Cbreezy Kitchen</a>. But if I'm honest, the code was a mess, and the folder hiarchy was even worse. <br /><br />
So I started over. <br /><br /></p>
  <p class="subtitle">Here is HB-Tufte v2.0</p>
</section>
</article>
